<div class="page-header">
	<h1>Submit to ACM Showcase</h1>
	<p class="lead">
		Use this form to submit your project to the ACM Showcase.
	</p>
	<p>
		<strong>Note:</strong> The ACM Showcase is for CSE students to show off their extracurricular projects.  If you are looking for ACM Project Matching, <%= link_to "click here", new_project_path %>.
	</p>
</div>

<%= render "form" %>