<div  class="row">

	<!-- Welcome message -->
	<div class="span9">
		<div class="hero-unit">

			<h1>Welcome to WashU ACM.</h1>
			
			We are the student chapter of the <a href="http://www.acm.org">Association for Computing Machinery</a> at <a href="http://www.wustl.edu">Washington University in St. Louis</a>.  We sponsor coding challenges, presentations, colloquia, workshops, and social events in Computer Science and Engineering.  We're open to all students, whether or not you are majoring in CSE.  <%= link_to "Join us on Portfolio", portfolio_path %>, <%= link_to "subscribe to our mailing list", subscribe_path %>, and <%= link_to "follow us on Twitter", twitter_path %> to stay updated on the latest news and events from ACM.  Read below for just a few of the things that we do.
		</div>
		
	</div>
	
</div>

<div  class="row">
	<div class="span3">
		<h3>Project Matching</h3>
		<p class="lead">
			Helping WashU developers find ideas.
		</p>
		<p>
			Are you a CSE student looking for a cool project to make?  Are you someone with an idea looking for a CSE student to make it happen?
		</p>
		<p>
			We will soon be launching <strong>ACM Project Matching</strong>.  This new system connects students with great ideas with engineers who can make it a reality.  It's as easy as signing in, creating a profile, and posting a project.
		</p>
	</div>
	<div class="span3">
		<h3>Thursday Tech Talks</h3>
		<p class="lead">
			The things you should know but no one ever told you.
		</p>
		<p>
			Ever wanted to know how to conquer a coding interview?  Or build an application in the cloud?  Or navigate your way through the depths of UNIX?  Ever wanted to learn about the cutting-edge research in our department?
		</p>
		<p>
			Join us for Thursday Tech Talks, or T3, <strong>every Thursday at 7:30 in the Gregg Technology Classroom</strong>.  Look for announcements about the week's special guest on Portfolio and Twitter.
		</p>
	</div>
	<div class="span3">
		<h3>Code and Cookies</h3>
		<p class="lead">
			Think you have what it takes to conquer the ICPC or the Google Code Jam?
		</p>
		<p>
			We send teams each year to the International Collegiate Programming Contest (ICPC) in November and the Google Code Jam in April.  Think you have what it takes?  Watch out for announcements about <strong>Code and Cookies</strong>, our accelerated training sessions for coding competitions.
		</p>
		<p>
			Want to practice on old ICPC problems and submit your solution for future students to see?  Check back soon for an ICPC solution submission board, right here on ACM.
		</p>
		<p>
			<a class="home_button" style="color: #DF7401">Coming Soon</a>
		</p>
	</div>

</div>