<h1>Welcome to ACM</h1>
<div class = 'row'>
	<div class = 'span4' style = "border:solid; height: 250px;">twitter feed shell</div>
	<div class = 'span4' style = "border:solid; height: 250px;">portfolio + <a>subscription link</a> shell</div>
</div>
<div class = 'row'>
	<div class = 'span4' style = "border:solid; height: 250px;">calender shell</div>
	<div class = 'span4' style = "border:solid; height: 250px;">officer + contact shell</a></div>
</div>
