

  <div  class = "row">

    <div class = span8>
      <h1>Welcome to ACM</h1>
    The ACM sponsors coding challenges, department forums, and social events in Computer Science and Engineering.
    We are the primary student organization in the department, representing all students in CSE. We've added some
    new features to the ACM site. First, we are proud to offer our new Project Matching system. It allows students to create
    projects and connects them to other students who are qualified and willing to work for you. 
    <%= link_to "Take a look", projects_path %>. We've also added support for users to create and edit their own profiles.
    Just login (top right corner) with your wustl key or your google account.
    </div>
    
    
    
  </div>
   <hr>
  
  <div  class = "row">
    <div class = span4 >
       <br/>
  
	<!-- Google Calendar -->
	<iframe src="https://www.google.com/calendar/embed?src=su.wustl.edu_v3urbk68gh9g2g83db66su3erk%40group.calendar.google.com&ctz=America/Chicago" width = 100% style="border: 0"  height="300" frameborder="0" scrolling="no"></iframe>
      
	
    </div>
  
 
<div  class = "span4">
  <h3>2014 Officers</h3>
     <div class = "officer" />
      <img src = "
     </div>
     
     
</div>

</div>