<div  class = "row">

  <!-- Welcome message -->
  <div class ="span7 grey_box">
  
    <img src = "/acm_logo.jpg" id = "acm_logo" />
    <h1>Welcome to ACM</h1>
    
    The ACM sponsors coding challenges, department forums, and social events in Computer Science and Engineering.
    We are the primary student organization in the department, representing all students in CSE. 
    
   </div>
  
</div>

<div  class = "row">
  <div class = span7>
    <div class = home_element>
      <span class = mini_head> Programmer Matching</span><br>
	ACM is proud to launch Programmer Matching. This new system connects students with great ideas
	to programmers who can make it a reality. It's as easy as signing in, creating a profiles, and 
	posting a project. <br/><br/>
	
	<a class = home_button href = "/projects" >Click here to begin >></a>
	
    </div>
    
    
    <div class = home_element>
      <span class = mini_head>Meet the Officers</span><br>
	We've elected new officers for 2014. Check out their profiles below!<br /><br/>
	
	<a class = home_button href = "/officers" >Officer Profiles >></a>
	
    </div>   
    
    <div class = home_element>
      <span class = mini_head>ICPC Solutions</span><br>
      
      <b> (In progress)</b><br>
      
	We plan add a space for ICPC entries very soon. Users will be able to create their own entreis and browse
	existing ones as well. Look for a link to that soon! <br /><br/>
	
	<a class = home_button style = "color: #DF7401" href = "" >Coming Soon!</a>
	
    </div>
   
  </div>
</div>