// Styles for the application layout

#header-logo {
	float: left;
	height: 30px;
	margin-top: 5px;
}

.navbar-auth {
	padding: 8px 0 0;
}

.navbar-username {
	padding-top: 2px;
	font-size: 1.2em;
}

#sidebar {
	max-width: 400px;
	#sidebar-logo {
		display: block;
		width: 100%;
		margin-bottom: 1em;
	}
	#sidebar-seals {
		margin: 1em 0;
		overflow: auto; // clears floats
		img {
			position: relative;
			display: block;
			width: calc(50% - 0.5em);
			margin: 0.2em;
			&:first-child {
				float: left;
			}
			&:last-child {
				float: right;
			}
		}
	}
	div.twitter_container{
		display: block;
		width: 100%
	}
}

.footer {
	margin-bottom: 1em;
}

.wysihtml5{
	width: calc(100% - 10px);
}

