// Styles for the application layout

.navbar-auth {
	padding: 4px 0 0;
}

#logo {
	display: block;
	width: 100%;
	max-width: 400px;
	margin-bottom: 1em;
}

div.twitter_container{
	display: block;
	width: 100%
}

.footer {
	margin-bottom: 1em;
}